body{
	background-color: #777;
	width: 960px;
	margin: 0 auto;


}

#header{
	background-color: orange;
	width: 800px;
	padding: 60px;
	align-items: center;
	display: block;
	text-align: center;

}

#nav{
	background-color: blue;
	width: 800px;
	padding: 60px;
	align-items: center;
	display: block;
	margin-top: 10px;
	text-align: center


}

#section{
	background-color: purple;
	width: 495px;
	height: 250px;
	margin-top: 15px;
	float: left
}

#aside{
	background-color: green;
	width: 43%;
	height: 250px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;

	
}

#article{
	background-color: orange;
	width: 200px;
	margin-top: 5px;
}

#headtag{
	border: 1px red solid;
}

#footer{
	background-color: pink;
	overflow: auto;
  	clear: both;

}

.clear{
	background-color: black;

}

